/* change vh */
:root {
    --Light-Grayish-Violet: hsl(270, 20%, 96%);
    --Light-Magenta-gradient: hsl(293, 100%, 63%);
    --Light-Violet-gradient: hsl(264, 100%, 61%);
    --Pale-Violet-sub-heading: hsl(276, 100%, 81%);
    --Moderate-Violet-ch-left: hsl(276, 55%, 52%);
    --Desaturated-Violet-ch-right: hsl(271, 15%, 43%);
    --Very-Dark-Desaturated-Violet: hsl(271, 36%, 24%);
    --Dark-Grayish-Violet: hsl(270, 7%, 64%);
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Rubik', sans-serif;
}
/* end global rules */
main {
    /* height: fit-content; */
    /* position: relative; */
    display: flex;
    /* padding-bottom: 20px; */
    /* flex-direction: column; */
    /* background-color: blueviolet; */
    /* z-index: -2; */
}
/* @media (min-width: 1200px) {
    main .box {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
} */
@media (max-width: 1023px) {
    main {
        flex-direction: column;
    }
}
main .shape:first-child {
    width: 300px;
    height: 400px;
    background-image: linear-gradient(to bottom, var(--Light-Magenta-gradient), var(--Light-Violet-gradient));
    position: absolute;
    z-index: -20;
}
@media (max-width: 375px) {
    main .shape:first-child {
        width: 200px;
        height: 397px;
    }
}
@media (min-width: 1024px) {
    main .shape:first-child {
        height: 625px;
    }
    main .shape:nth-child(2) {
        top: 600px;
    }
}
@media (max-width: 1023px) {
    main .shape:nth-child(2) {
        top: 375px;
    }
}
main .shape:nth-child(2) {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background-image: linear-gradient(to bottom, transparent 50%, var(--Light-Violet-gradient) 50%, var(--Light-Violet-gradient) 100%);
    transform: translate(-50px, -150px);
    position: absolute;
    /* top: 375px; */
    /* top: 600px; */
    z-index: -20;
}
@media (max-width: 600px) {
    main .shape:nth-child(2) {
        transform: translate(-150px, -153px);
    }
}
.chat-area {
    width: 326px;
    padding: 13px;
    /* the problem was because the background was not set */
    background-color: white;
    box-shadow: 0 2px 33px 12px rgb(0 0 0 / 10%);
    overflow: hidden;
    border-radius: 20px;
    /* position: relative; */
    /* z-index: 20; */
}
@media (max-width: 600px) {
    .chat-area {
        transform: translate(30px, 50px);
    }
}
@media (min-width: 601px) {
    .chat-area {
        transform: translate(225px, 25px);
    }
}
@media (min-width: 1023px) {
    .chat-area {
        transform: translate(130px, 30px);
    }
}
.chat-area .background {
    background-color: var(--Light-Grayish-Violet);
    display: flex;
    flex-direction: column;
}
.chat-area header {
    padding: 15px;
    /* margin-bottom: 13px; */
    height: 85px;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    color: white;
    background-image: linear-gradient(to left, var(--Light-Magenta-gradient), var(--Light-Violet-gradient));
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.chat-area header::before {
    content: "";
    position: absolute;
    width: 50%;
    height: 43px;
    background-color: white;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 16px;
}
.chat-area header .image {
    display: flex;
    align-items: center;
}
.chat-area header .image i {
    font-size: 11px;
    margin-right: 8px;
    /* padding: 15px; */
}
.chat-area header .image img {
    width: 35px;
    border-radius: 50%;
    border: 1px solid white;
}
.chat-area header .text {
    margin-left: -70px;
}
.chat-area header .text h2 {
    font-size: 15px;
    margin-bottom: 2px;
    font-weight: 500;
}
.chat-area header .text p {
    font-size: 12px;
    font-weight: 400;
    color: var(--Pale-Violet-sub-heading);
}
.chat-area header .icon {
    display: flex;
    align-items: center;
    padding: 10px;
}
.chat-area .body {
    padding: 13px 10px;
    display: flex;
    flex-direction: column;
}
.chat-area .body .text:first-child,
.chat-area .body .text:nth-child(2),
.chat-area .body .text:nth-child(6) {
    width: 70%;
    font-size: 13px;
    padding: 10px;
    background-color: hsla(270, 67%, 91%, 1);
    color: var(--Moderate-Violet-ch-left);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 3px;
    margin-bottom: 10px;
}
.chat-area .body .text:nth-child(2) {
    margin-bottom: 15px;
}
.chat-area .body .images {
    width: 70%;
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    margin-bottom: 10px;
}
.chat-area .body .images img {
    width: 55px;
    border-radius: 15px;
}
.chat-area .body .images img:not(:last-child) {
    margin-right: 8px;
}
.chat-area .body .text:nth-child(4),
.chat-area .body .text:nth-child(5) {
    width: 70%;
    font-size: 13px;
    padding: 10px;
    background-color: white;
    color: var(--Desaturated-Violet-ch-right);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 15px;
    margin-bottom: 10px;
    box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
    /* transform: translateX(calc(104px - 20px)); */
    align-self: flex-end;
}
.chat-area .body .text:nth-child(5) {
    width: fit-content;
    margin-bottom: 15px;
}
.chat-area .body .text:nth-child(7),
.chat-area .body .text:nth-child(8) {
    width: 80%;
    font-size: 13px;
    padding: 12px 10px;
    background-image: linear-gradient(to right, var(--Light-Magenta-gradient), var(--Light-Violet-gradient));
    color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 3px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.chat-area .body .text:nth-child(8) {
    margin-bottom: 15px;
}
.chat-area .body .text:nth-child(7) label {
    font-size: 11px;
    margin-left: -55px;
}
.chat-area .body .text:nth-child(8) label {
    font-size: 11px;
    margin-left: -75px;
}
.chat-area .body .text:nth-child(7) span,
.chat-area .body .text:nth-child(8) span {
    display: block;
    padding-right: 10px;
    font-size: 16px;
    font-weight: 500;
}
input[type="radio"] {
    /* color: var(--Light-Magenta-gradient);
    text-decoration: none; */
    /* outline: none; */
    outline-color: hsl(289, 100%, 72%);
    accent-color: hsl(289, 100%, 72%);
    /* border-color: hsl(289, 100%, 72%); */
    /* outline-offset: ; */
}
footer {
    padding: 13px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer input[type="text"] {
    border: none;
    box-shadow: 0 2px 7px 0px rgb(0 0 0 / 5%);
    padding: 13px;
    border-radius: 20px;
    flex: 1;
    outline: none;
    caret-color: var(--Very-Dark-Desaturated-Violet);
}
footer button {
    border: none;
    background-color: var(--Very-Dark-Desaturated-Violet);
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 5px;
    cursor: pointer;
}
footer button i {
    /* color: white; */
    font-size: 12px;
}
main .box {
    align-self: center;
}
@media (min-width: 601px) {
    main .box {
        transform: translateY(35px);
    }
}
@media (max-width: 1023px) {
    main .box {
        width: 100%;
        text-align: center;
        margin: 40px 0;
        padding: 0 20px;
        transform: translateY(60px);
    }
}
main .box h1 {
    color: var(--Very-Dark-Desaturated-Violet);
    font-weight: 700;
    font-size: 28px;
}
main .box p {
    line-height: 1.6;
    color: var(--Dark-Grayish-Violet);
    font-size: 16px;
    font-weight: 400;
}
@media (min-width: 1024px) {
    main .box {
        transform: translate(180px, -25px);
        max-width: 433px;
    }
}
.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 40px;
    padding: 20px;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}